altgraph==0.17.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
et-xmlfile==1.1.0
future==0.18.2
greenlet==1.1.2
idna==3.3
numpy==1.22.4
openpyxl==3.0.10
pandas==1.4.2
pefile==2022.5.30
persiantools==3.0.1
plotly==5.9.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.6
pyodbc==4.0.32
python-dateutil==2.8.2
pytz==2022.1
pywin32-ctypes==0.2.0
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.37
tenacity==8.0.1
urllib3==1.26.9
